<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="de.onyxbits.geobookmark"
	android:versionCode="2"
	android:versionName="1.1" >

	<uses-sdk
		android:minSdkVersion="9"
		android:targetSdkVersion="18" />

	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
	<uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />

	<application
		android:allowBackup="true"
		android:icon="@drawable/ic_launcher"
		android:label="@string/app_name"
		android:theme="@style/AppTheme" >
		<receiver android:name="de.onyxbits.geobookmark.BookmarkWidget" >
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
			</intent-filter>

			<meta-data
				android:name="android.appwidget.provider"
				android:resource="@xml/bookmark_widget_info" />
		</receiver>

		<service
			android:name="de.onyxbits.geobookmark.BookmarkService"
			android:enabled="true"
			android:exported="false" >
		</service>
		<service
			android:name="de.onyxbits.geobookmark.DashclockExtensionService"
			android:icon="@drawable/ic_extension"
			android:label="@string/dashclock_title"
			android:permission="com.google.android.apps.dashclock.permission.READ_EXTENSION_DATA" >
			<intent-filter>
				<action android:name="com.google.android.apps.dashclock.Extension" />
			</intent-filter>

			<meta-data
				android:name="protocolVersion"
				android:value="2" />
			<meta-data
				android:name="worldReadable"
				android:value="true" />
			<meta-data
				android:name="description"
				android:value="@string/dashclock_description" />
			<meta-data
				android:name="settingsActivity"
				android:value=".MainActivity" />
		</service>

		<activity
			android:name="de.onyxbits.geobookmark.ProxyActivity"
			android:exported="true"
			android:label="@string/app_name" >
		</activity>
		
	</application>

</manifest>
